/**
 * CSS Style for Home Page
 * @author Paul Loh
 * @author Jordan Hatcher
 * @version 1.0
 */

/* 
 *  CSS for Animating Home Gesture Icon
 */

#home-jumbotron {
  background: url(../img/bg2.jpg) no-repeat;
  background-size: auto;
  border-bottom: 10px solid #c0392b;
  min-height: 60vh;
}

/*.black-jumbotron {
  background-color:#000;
  color: #fff;
}*/

#home-jumbotron .container {
  background-color: rgba(0,0,0,0.7);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 20px;
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}

svg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
svg path {
  stroke-width: 0.25;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  animation-timing-function: linear;
  stroke: #fff;
}
svg path#case {
  stroke: #fff;
  stroke-dasharray: 2810;
  stroke-dashoffset: 2810;
  animation-duration: 15s;
}
