/**
 * CSS Style for Pairing Page
 * @author Paul Loh
 * @author Jordan Hatcher
 * @version 1.0
 */

.circle-number {
	border-radius: 50%;
	border: 4px inset #fff;	
	font-size: 3em;
 	width: 60px;
    height: 60px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.pairing-details {
	border-radius: 5%;
	vertical-align: middle;
    text-align: center;
	margin: 10px;
	padding-top: 20px;
	height: 120px;
}

.pairing-holder {
	border: 2px solid #000;
	border-radius: 5%;
	background-color: #c0392b;
}

.pairing-text {
	border-bottom-right-radius: 6%;
	border-bottom-left-radius: 6%;
	padding: 20px;
	background-color: #fff;
	min-height: 100px;
}

.divider {
	border: 2px solid #000;
}

#errors {
	animation: fadeInDown 0.75s;
	display:none;
}

#mydevicesdata {
	animation: fadeInDown 0.75s;
}